In [ ]:
import pandas as pd

In [8]:
pd.__version__

'2.2.3'

In [21]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [19]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [23]:
from sqlalchemy import create_engine

In [26]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
engine.connect

In [20]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [39]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [40]:
df = next(df_iter)

In [41]:
len(df)

100000

In [42]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [43]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [44]:
from time import time

In [ ]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

In [1]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

In [2]:
!wget url

Prepended http:// to 'url'
--2025-01-24 21:22:49--  http://url/
Resolving url (url)... failed: nodename nor servname provided, or not known.
wget: unable to resolve host address ‘url’

In [3]:
!wget 'https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv'

--2025-01-24 21:23:16--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.160.226.228, 3.160.226.161, 3.160.226.85, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.160.226.228|:443... connected.
200 OKequest sent, awaiting response...
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-01-24 21:23:16 (27.3 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [4]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

NameError: name 'pd' is not defined

In [5]:
import pandas as pd

In [6]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [8]:
df_zones.head(
)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [9]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

NameError: name 'engine' is not defined

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

NameError: name 'create_engine' is not defined

In [11]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
engine.connect

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265